*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/vcs.xml
apiDemos/build/generated/assets/
apiDemos/build/generated/res/
apiDemos/build/generated/source/aidl/androidTest/
apiDemos/build/generated/source/apt/
apiDemos/build/generated/source/r/androidTest/
apiDemos/build/generated/source/rs/
apiDemos/build/intermediates/blame/res/androidTest/
apiDemos/build/intermediates/builds/
apiDemos/build/intermediates/check-manifest/
apiDemos/build/intermediates/incremental/InstantRunDependenciesApkBuilder/
apiDemos/build/intermediates/incremental/InstantRunSliceSplitApkBuilder/
apiDemos/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
apiDemos/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
apiDemos/build/intermediates/incremental/mergeDebugAndroidTestResources/stripped.dir/
apiDemos/build/intermediates/incremental/mergeDebugResources/aapt-temp/
apiDemos/build/intermediates/incremental/mergeDebugResources/stripped.dir/
apiDemos/build/intermediates/incremental/packageDebug/zip-cache/
apiDemos/build/intermediates/incremental/packageDebugAndroidTest/
apiDemos/build/intermediates/incremental/packageRelease/
apiDemos/build/intermediates/incremental/processDebugAndroidTestResources/
apiDemos/build/intermediates/incremental/processDebugResources/
apiDemos/build/intermediates/jniLibs/
apiDemos/build/intermediates/manifest/tmp/
apiDemos/build/intermediates/prebuild/
apiDemos/build/intermediates/reload-dex/
apiDemos/build/intermediates/res/merged/androidTest/
apiDemos/build/intermediates/res/symbol-table-with-package/
apiDemos/build/intermediates/rs/
apiDemos/build/intermediates/shaders/
apiDemos/build/intermediates/symbols/
apiDemos/build/intermediates/tmp/
apiDemos/build/intermediates/transforms/dexMerger/debug/15/
apiDemos/build/intermediates/transforms/dexMerger/debug/16/
apiDemos/build/intermediates/transforms/dexMerger/debug/18/
apiDemos/build/intermediates/transforms/dexMerger/debug/19/
apiDemos/build/intermediates/transforms/instantRun/debug/1/
apiDemos/build/tmp/
